.wrapper {
    display: flex;
    align-items: center;
}

.footerText {
    display: flex;
    flex-direction: row;
    word-spacing: 1px;
}

header {
    height: 10vh;
    border: 1px solid gray;
    color: white;
    font-size: 50px;
}

main {
    height: 75vh;
    border: 1px solid greenyellow;
}

footer {
    height: 4vh;
    background-color: white;
    bottom: 0px;
    position: absolute;
    width: 100%;
    justify-content: space-between;
}
